@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: "Montserrat", sans-serif;

  --bg: 12 12 12;
  --sep: 25 25 25;
  --text: 255 255 255;
  --text2: 160 160 160;
}

html, body {
  background: rgb(var(--bg)); 
  -webkit-font-smoothing: antialiased; /* Mac/iOS smoothing */
  -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
  text-rendering: optimizeLegibility;  /* better kerning & ligatures */
  font-feature-settings: "kern", "liga", "clig", "calt"; /* high-quality OpenType */

  
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: rgb(var(--sep)) rgb(var(--bg));
  scroll-behavior: smooth;
}
